body{
    background-color: #202529;
    font-family: Helvetica;
    font-size: 20px;
    color: white;
    }

.title{
    border-bottom: solid white 2px;
      }


.container{
    margin: 50px;
    border: solid white 4px;
    padding: 50px;
          }

#bird{
    font-family: times;
    font-size: 25px;
    color: orange;
     }
.parent{
    background-color: orange;
    padding: 30px;
    position: relative;
       }
 .child{
    color: orange;
    background-color: white;
    padding: 15px;
    position: absolute;
    right:30px;
    top:120px;
    width: 20%;
       }
